In [5]:
pip install pandas -i http://pypi.douban.com/simple --trusted-host pypi.douban.com

Looking in indexes: http://pypi.douban.com/simple
Requirement already satisfied: pandas in c:\users\mcgad\miniconda3\envs\gluon2\lib\site-packages (0.23.4)
Requirement already satisfied: numpy>=1.9.0 in c:\users\mcgad\miniconda3\envs\gluon2\lib\site-packages (from pandas) (1.16.6)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\mcgad\miniconda3\envs\gluon2\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2011k in c:\users\mcgad\miniconda3\envs\gluon2\lib\site-packages (from pandas) (2020.4)
Requirement already satisfied: six>=1.5 in c:\users\mcgad\miniconda3\envs\gluon2\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import d2lzh as d2l
from mxnet import autograd,nd,gluon,init
from mxnet.gluon import data as gdata,nn,loss as gloss
import numpy as np
import pandas as pd

In [8]:
train_data=pd.read_csv('C:/Users/mcgad/gitgitgit/jupyterbook/house_prices/train.csv')
test_data=pd.read_csv('C:/Users/mcgad/gitgitgit/jupyterbook/house_prices/test.csv')

In [9]:
train_data.shape

(1460, 81)

In [10]:
test_data.shape

(1459, 80)

In [18]:
train_data.iloc[0:4,[0,1,2,3,-3,-2,-1]]

   Id  MSSubClass MSZoning  LotFrontage SaleType SaleCondition  SalePrice
0   1          60       RL         65.0       WD        Normal     208500
1   2          20       RL         80.0       WD        Normal     181500
2   3          60       RL         68.0       WD        Normal     223500
3   4          70       RL         60.0       WD       Abnorml     140000

In [20]:
all_features=pd.concat((train_data.iloc[:,1:-1],test_data.iloc[:,1:]))